<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>#NodeCms - Admin Panel</title>
        <link rel="shortcut icon" href="/admin/favicon.ico">
        <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400" rel="stylesheet">
        <link href="/admin//bootstrap.min.css" rel="stylesheet">
        <link href="/admin/style.css" rel="stylesheet">
        <link href="/admin/font-awesome.min.css" rel="stylesheet">
        <link href="/admin/pace.min.css" rel="stylesheet">
        <script src="/admin/pace.min.js"></script>
    </head>
   <body>
        <div id="container" class="cls-container">
            <div class="lock-wrapper">
                <div class="panel lock-box">
                   
                    <p class="text-center">Please login to Access your Admin</p>
                    <div class="row">
                        <form action="/admin/Login" method="POST" class="form-inline">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    @if(hasErrors)
                                    <div class="alert alert-danger">
                                            @each(message in messages)
                                       {{message}}
                                       @endeach
                                    </div>
                                    @endif
                                <div class="text-left">
                                    <label class="text-muted">User name</label>
                                    <input id="emaillogin" name="emaillogin" type="email" placeholder="Enter user name" class="form-control" required />
                                </div>
                                <div class="text-left">
                                    <label for="signupInputPassword" class="text-muted">Password</label>
                                    <input id="passwordlogin" name="passwordlogin" type="password" placeholder="Password" class="form-control lock-input" required />
                                </div>
                                <input type="hidden" name="_csrf" value="{{ csrfToken }}" >
                                <button type="submit" class="btn btn-block btn-primary">
                                Sign In
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
               </div>
        </div>
        <script src="/admin/jquery-3.4.1.min.js"></script> 
        <script src="/admin/bootstrap.min.js"></script>
    </body>
</html>