<!DOCTYPE HTML>
<html>
<head>
<title>404 Page not found</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/404/404.css">
</head>
<body>
<div class="wrap">
	<div class="banner">
		<img src="/404/banner.png" alt="" />
	</div>
	<div class="page">
		<h2>Dude,,we can't find that page!</h2>
		{{ url }}
	</div>
	<div class="footer">
		<p>© 2019 All Rights Reserved </p>
	</div>
</div>
</body>
</html>


                 
                 
                 