<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>#NodeCms - Admin Panel - Dashboard</title>
        <link rel="shortcut icon" href="/admin/favicon.ico">
        <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400" rel="stylesheet">
        <link href="/admin/bootstrap.min.css" rel="stylesheet">
        <link href="/admin/style.css" rel="stylesheet">    
        <link href="/admin/font-awesome.min.css" rel="stylesheet">    
        <link href="/admin/pace.min.css" rel="stylesheet">
        <script src="/admin/pace.min.js"></script>

        <script src="/admin/jquery-2.1.1.min.js"></script>
        
        <script src="/admin/bootstrap.min.js"></script>
        <script src="/admin/jquery.nanoscroller.min.js"></script>
        <script src="/admin/metismenu.min.js"></script>
       
         <script src="/admin/jasmine.js"></script>
    </head>
    <body>
        <div id="container" class="effect mainnav-full">
            <header id="navbar">
                <div id="navbar-container" class="boxed">
                    <div class="navbar-header">
                        <a href="/admin/Dashboard" class="navbar-brand">
                            <i class="fa fa-cube brand-icon"></i>
                            <div class="brand-title">
                                <span class="brand-text">Node-CMS</span>
                            </div>
                        </a>
                    </div>
                   <div class="navbar-content clearfix">
                        <ul class="nav navbar-top-links pull-left">
                           
                        </ul>
                        <ul class="nav navbar-top-links pull-right">
                            
                            <li id="dropdown-user" class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                    <span class="pull-right"> <img class="img-circle img-user media-object" src="/admin/images/avatar.png" alt="Profile Picture"> </span>
                                    <div class="username hidden-xs">SuperAdmin</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right with-arrow">
                                 
                                    <ul class="head-list">
                                        <li>
                                            <a href="#">  <i class="fa fa-gear fa-fw"></i> Change password </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-sign-out fa-fw"></i> Logout </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                          
                        </ul>
                    </div>
                   
                    <nav class="navbar navbar-default megamenu">
                        <div class="navbar-header">
                            <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                        </div>
                    
                        <div id="defaultmenu" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                     <a href="/admin/Dashboard"> Dashboard </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Configuration <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/admin/Settings"> Settings </a></li>
                                        <li><a href="/admin/DB"> Database </a></li>
                                        <li><a href="/admin/Langs"> Languages </a></li>
                                        <li><a href="/admin/Firewall"> Firewall </a></li>            
                                    </ul>
                                </li>
                                <li>
                                        <a href="/admin/FileManager"> File Manager </a>
                                   </li>
                                   <li>
                                        <a href="/admin/Templates"> Templates </a>
                                   </li>
                                   <li>
                                        <a href="/admin/Routers"> Routers </a>
                                   </li>
                                   <li>
                                        <a href="/admin/Urls"> Urls </a>
                                   </li>
                                   <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Moduls <b class="caret"></b></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/admin/Headers"> Headers </a></li>
                                            <li><a href="/admin/Contents"> Contents </a></li>
                                            <li><a href="/admin/Ads"> Ads </a></li> 
                                        </ul>  
                                    </li>
                            </ul>
                            
                        </div>
                       
                    </nav>
                  
                </div>
            </header>
         
            <div class="boxed">
               
                <div id="content-container">
                   
                    <div class="pageheader">
                        <h3> <i class="fa fa-home"></i> Dashboard </h3>
                        
                    </div>
                  
                    <div id="page-content">
                        
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 col-xs-10">
                                                <h3 class="mar-no"> <span class="counter">50.5 GB</span></h3>
                                                <p class="mar-ver-5"> File DB size </p>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-2"> <i class="fa fa-database fa-3x text-info"></i> </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        
                    </div>
                  
                </div>
              
            </div>
           
            <footer id="footer">
               
              
                <div class="hide-fixed pull-right pad-rgt">v1.0</div>
             
                <p class="pad-lft">&#0169; 2019 NDG.YT</p>
            </footer>
          
            <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
           
        </div>
     
        <script src="/admin/feather.min.js"></script>
        <script>
          feather.replace()
        </script>
     
    </body>
</html>