<!DOCTYPE HTML>
<html lang="en">
<head> 
<title>@Admin Panel - Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/admin/bootstrap.min.css">
<link href="/admin/dashboard.css" rel="stylesheet">
<link rel="shortcut icon" href="/admin/favicon.ico" />  
</head>
<body>
    <script src="/admin/alertify.min.js"></script>
    <link rel="stylesheet" href="/admin/alertify.min.css"/>
    
    <script src="/admin/jquery-3.3.1.slim.min.js"></script>
    <script src="/admin/popper.min.js"></script>
    <script src="/admin/bootstrap.min.js"></script>
  
   
    <link rel="stylesheet" href="/admin/default.min.css"/>
    <link rel="stylesheet" href="/admin/semantic.min.css"/>
    <link rel="stylesheet" href="/admin/bootstrap.min.css"/>
        
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Admin panel</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="#">Node-CMS v 1.0</a>
            </li>
          </ul>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/admin/Dashboard">
                    <span data-feather="home"></span>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/Settings">
                    <span data-feather="settings"></span>
                    Settings
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    File manager (PUBLIC)
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/Mainwebsites">
                    <span data-feather="minus-circle"></span>
                    Main Websites
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/Urls">
                    <span data-feather="minimize-2"></span>
                    URLs
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/Headers">
                    <span data-feather="bookmark"></span>
                    Headers
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/Contents">
                    <span data-feather="book-open"></span>
                    Contents
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/Ads">
                    <span data-feather="layers"></span>
                    Ads
                  </a>
                </li>
              </ul> 
            </div>
          </nav>
  
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          
          @!section('content')
          <script src="/admin/feather.min.js"></script>
          <script>
            feather.replace()
          </script>
          
</body>
</html>

