<html><title>@!Title</title><meta name="Description" content="@!Desc">
<head>
@!section('HeaderScript')
</head>
<body>
@!section('BodyScript')
<h1>
@!section('ad_first')
</h1>
<h2>
@!section('mod_first')
</h2>
@!section('FooterScript')
itt a vege
</body>
</html>