<link rel="stylesheet" href="/admin/bootstrap.min.css">
<script type="text/javascript" src="/admin/jquery-1.5.1.min.js"></script>
All Done.
<br/>
<a class="btn btn-outline-primary btn-lg btn-block" href="javascript:window.parent.$('.ui-dialog-content:visible').dialog('close');">Close Dialog</a>